@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: sans-serif;
    display: flex; 
    flex-direction: column;
}

nav{
    display : flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    margin: auto;
}

nav .navbar-brand{
    font-size: 25px;
    font-weight: 900;
    line-height: 30px;
    padding-left: 20px;
    text-transform : uppercase;		
}

nav ul{
    display: flex;
}

nav ul li{
    list-style-type: none;
    line-height: 30px;
    display: inline-flex;
}

nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color : #000000;
    padding: 1rem;
    margin-right: 30px;
}

.active{
    color : green;
}

nav ul li a:hover{
    color : #fff;
    background-color: green;
    padding: 1rem;  
}

#slider {
    margin-top: 30px;
    padding-top: 40px;
}

.carouselExampleIndicators{
    padding: 1rem;
}
.carousel-item img{
    max-width: 100%;
}

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.my-float{
    margin-top:16px;
}

#about{
	margin-top: 50px;
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.about-img{
    margin-top: 50px;
    flex : 1 0 0;

}

.about-me{
    font-weight: 600;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex : 2 0 0;
    flex-wrap: wrap;
    text-align: justify;
    margin-right: 10px;

}

#about .Heading{
	
	text-align: center;
}


#importance-of-qurbani {
	padding: 1rem;
}

#importance-of-qurbani h1{
	text-align: center;
}

#importance-of-qurbani h1,p,ul{
	margin-top: 30px;
}

#importance-of-qurbani p,ul,li{
    font-weight: 600;
    text-align: justify;
}

/* image gallery */
.image-gallery{
/*     background-color : #dbddf1; */
    padding: 80px 0;
}

.image-gallery img{
    max-width: 100%;
    background-color: #ffffff;
    padding : 15px;
    width : 100%;
    box-shadow : 0 0 15px rgba(0,0,0,0.3);
    cursor : pointer;
}

.img-responsive{
    padding: 0 6px;
    margin-left: 5px;
    width: 350px;
    margin-top: 5px;
}

.gallery{
	border: 1px solid #ccc;
}

.gallery iframe{
	max-width: 100%;
	width: 100%;
	height: auto;
	padding: 15px;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;
}

.responsive{
	padding: 0 6px;
	float : left;
	width : 25%;
}

.footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    padding-top: 45px;
    background: #FFFFFF;
}

.footer .footer-about,
.footer .footer-contact,
.footer .footer-links,
.footer .footer-project {
    position: relative;
    margin-bottom: 45px;
    color: #000000;
}

.footer .footer-about h3,
.footer .footer-contact h3,
.footer .footer-links h3,
.footer .footer-project h3 {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.footer .footer-about h3::after,
.footer .footer-contact h3::after,
.footer .footer-links h3::after,
.footer .footer-project h3::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #000000;
}
.footer .footer-about p{
    text-align: justify;
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
}

.footer .footer-social a {
    text-align: center;
    color: #000000;
    font-size: 14px;
    border: 1px solid #000000;
    display: inline-block;
    width: 35px;
    height: 35px;
    padding: 6px 0;
    border-radius: 35px;
}

.footer .footer-social a:hover {
    color: #ffffff;
    background: green;
    border-color: #ffffff;
}

.footer .footer-contact p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #000000;
    text-align: justify;
}

.footer .footer-contact i {
    margin-right: 10px;
    font-size: 16px;
    color: #000000;
}

.footer .footer-contact a:last-child i {
    margin: 0;
}

.footer .footer-contact a:hover i {
    color: #0085ff;
}

.footer .footer-links a {
    margin-bottom: 6px;
    padding-left: 15px;
    color: #000000;
    display: block;
}

.footer .footer-links a:last-child {
    margin: 0;
}

.footer .footer-links a:hover {
    color: #0085ff;
}

.footer .footer-links a::before {
    position: absolute;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    left: 0;
}

.footer .footer-project {
    float: left;
    font-size: 0;
}

.footer .footer-project a {
    padding: 0 8px 8px 0;
    display: block;
    width: 33.33%;
    float: left;
}

.footer .footer-project a img {
    width: 100%;
}

.footer .footer-newsletter {
    text-align: center;
    color: #999999;
    margin-bottom: 35px;
    max-width: 700px;
}

.footer .footer-newsletter input {
    background: rgba(256, 256, 256, .15);
    margin-bottom: 15px;
    height: 35px;
    border: none;
    border-radius: 5px;
}

.footer .footer-newsletter .btn {
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    background: #e9414a;
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 35px;
    font-size: 14px;
    border: none;
    transition: .3s;
}

.footer .footer-newsletter .btn:hover {
    color: #0085ff;
    background: #ffffff;
}

.footer .footer-newsletter .btn:focus {
    box-shadow: none;
}

.footer .copyright {
    position: relative;
    padding: 25px 0;
    background: #000000;
}

.footer .copyright .copy-text p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #999999;
}

.footer .copyright .copy-text p a {
    color: #0085ff;
    text-decoration: none;
}

.footer .copyright .copy-text p a:hover {
    color: #ff008c;
}


@media (max-width: 767.98px) {
    .footer .copyright .copy-text,
    .footer .copyright .copy-menu {
        text-align: center;
    }

    .footer .copyright .copy-text p {
        margin-bottom: 5px;
    }
}

@media only screen and (max-width : 700px){

	.responsive{
		width : 50%;
		margin : 6px 0;
	}
	.img-responsive{
		width : 50%;
		margin : 6px 0;
	}
}

@media only screen and (max-width : 500px){
      nav .navbar-brand{
        font-size: 13px;
        padding: 1rem;
        line-height: 15px;
        text-align: justify;
        flex: 1;
	text-transform: capitalize;
    }

    nav .navbar-toggler-icon{
        font-size: 14px;
        line-height: 15px;
    }

    nav .navbar-toggler{
        margin-top: 20px;
    }

    nav ul li a:hover{
        padding: 1rem;
        padding-left: 15px;
        padding-right: 15px;
        text-align: justify;
    }
	/* about section */
     #slider {
	overflow : hidden;
    padding-top : 15px;
    margin-top: 10px;
	}
    .logo{
        flex: 1;        
    }
    .about-img{     
        display: flex;
        width: 100%;
        border: 0;
        overflow: hidden;
        align-items: stretch;
        flex-wrap: wrap;
        height: auto;
        flex : 1;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin-top: 20px;
    }
    .Heading{
        font-size: 16px;
        font-weight: 900;
        text-align: center;
        padding: 1rem;
        flex : 1;
    }

    .about-me{
        text-align: justify;
    }

    #importance-of-qurbani p, ul li{
        text-align: justify;
    }

    /* gallery */
    .responsive{
	width : 100%;
      }
   .img-responsive{
	width : 100%;
        padding: auto;
        margin-right: 1.5rem;
        overflow: hidden;
    }   
	
    .image-gallery img{
        width: 100%;
	height: 100%;
        flex-grow: 2;
    }

    /* importance of qurbani */
    #importance-of-qurbani h1{
            font-size : 20px;
            font-weight: 900;
            
    }
    
    #importance-of-qurbani p, ul, li{
        font-weight: 600;
        padding: 0.5rem;
        }

    #importance-of-qurbani ul li{
        margin-bottom: -16px;
    }
    
    #bank-info h2{
        font-weight: bold;
        color : green;
        font-size : 17px;
    }
	
}
