@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
	margin : 0px;
	padding : 0px;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	min-height: 100vh;

}

.navbar{
	margin: 0px;
	padding-top: 0px;
	/*padding-bottom: 15px;*/
	width :100%;
	font-family: sans-serif, lobster;
}

.navbar .navbar-brand{
	margin-top: 20px;
	font-size: 22px;
	font-weight: 600;
	color : green;
}

.navbar ul{

}

.navbar ul li{
	list-style: none;
}

.navbar ul li a{
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
	padding-left: 1rem ;
	margin-left: 25px;
	margin-bottom: 20px;
}
.navbar ul li a:hover{
	background-color: green;
}
.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.my-float{
    margin-top:16px;
}

#slider {
	margin-top: 30px;
}

.carouselExampleIndicators{
	padding: 1rem;
}
.carousel-item img{
	max-width: 100%;
}

#about{
	margin-top: 50px;
}

#about .Heading{
	
	text-align: center;
}

#about img{
	margin-top: 35px;
	max-width: 100%; 
	height: auto;
}
.about-me{
	font-weight: 600;
}

#importance-of-qurbani {
	padding: 1rem;
}

#importance-of-qurbani h1{
	text-align: center;
}


#importance-of-qurbani h1,p,ul{
	margin-top: 30px;
}

#gallery img{
	width : 350px;
	height : 276px;
	padding: 1rem;
	border-radius: 30px;
}

#gallery iframe{
	width : 315px;
	height : 276px;
	margin-left: 5px;
	border-radius: 30px;
}
.img-gal{
	margin-top: 50px;
}

#gallery h1{
	margin-top: 50px;
}
#gallery .video-gal{
	margin-top: 50px;
}

#vg{
	text-align: center;
}

#contact-us .contact-page{
  width: 100%;
  max-width: 1400px;
  padding: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

#contact-us h2{
  width: 100%;
  margin-bottom: 80px;
  text-transform: uppercase;
  color: #000;
  font-size: 60px;
}

#contact-us .contact-info, .contact-form{
  flex: 1;
}

#contact-us .item{
  margin-bottom: 24px;
  font-size: 16px;
  color: #000;
}

#contact-us .icon{
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: green;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  margin-right: 16px;
}

#contact-us .contact-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#contact-us .textb{
  width: calc(50% - 10px);
  height: 50px;
  padding: 12px;
  background-color: #222;
  border: none;
  color: #fff;
  margin-bottom: 20px;
}

#contact-us textarea{
  width: 100%;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  padding: 12px;
  background-color: #222;
  border: none;
  color: #fff;
  margin-bottom: 20px;
}

#contact-us .btn{
  width: 120px;
  height: 40px;
  margin-left: auto;
  background-color: #3494db;
  border: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #3494db;
  transition: .3s linear;
}

#contact-us .btn:hover{
  background-color: transparent;
  color: #3494db;
}
 	
@media screen and (max-width: 980px){
 #contact-us .contact-page{
    max-width: 800px;
  }
 #contact-us h2{
    font-size: 40px;
    margin-bottom: 40px;
  }

#contact-us .contact-info, .contact-form{
    flex: 100%;
    margin-bottom: 30px;
  }
#contact-us  .textb{
    width: 100%;
  }
}


@media only screen and (max-width : 600px){
	.navbar .navbar-brand{
		font-size: 18px;
		font-weight: bold;
		text-align: center;
	}

	#slider{
		margin-top: 30px;
	}
	
	#about{
		flex: 100%;
		display: flex;
		flex-direction: column;
	}
	#about img{
	min-width: 100%;
	float: left;

	}
	#about .Heading{
		font-size: 20px;
		text-align: center;
		font-weight: 600;
	}

#be-naziramal{
	margin-top: 20px;
	padding: 1rem;
}

#be-naziramal img{
	margin-top: 20px;
}
	#importance-of-qurbani h1{
		font-size: 25px;
		text-align: center;
		font-weight: 600;
	}

	#importance-of-qurbani ul{
		margin-left: 30px;
	}

	#gallery{
		align-items: center;
		justify-content: center;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	#gallery .img-gal{
		align-items: center;
		justify-content: center;
		margin-left: 60px;
	}

	#vg{
		text-align: center;
		justify-content: center;
	}

	#gallery .video-gal{
		align-items: center;
		justify-content: center;
		margin-left: 60px;
	}
	
	
	#sticky-footer{
		min-width: 600px;
		width:  33%;
		float: left;
		display:block;
		color:black; 
		padding:0px;
		margin: 0px;
	} 
}

@media only screen and (max-width : 480px){
#gallery{
		align-items: center;
		justify-content: center;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	#gallery .img-gal{
		align-items: center;
		justify-content: center;
		margin-right:30px
	}

	#vg{
		text-align: center;
		justify-content: center;
	}

	#gallery .video-gal{
		align-items: center;
		justify-content: center;
		margin-right: 80px
	}
	
}
