@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
	margin : 0px;
	padding : 0px;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	min-height: 100vh;
}

.nav{
width : max-width : 100%;
	height : auto;
}
.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.336);
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	z-index: 1;
	background-color: #0f0f0f;
}

nav ul{
	display: flex;
}

.active{
    background-color: green;
    color:#ffffff;
    box-shadow: 5px 10px 30px rgba(0, 128, 0, 0.411);
    transition: all ease 0.2s;
}

nav ul li a{
    font-family: calibri;
    height:40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color:#ffffff;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
}

nav ul li a:hover{
    background-color: green;
    color:#ffffff;
    box-shadow: 5px 10px 30px rgba(0, 128, 0, 0.411);
    transition: all ease 0.2s;
    text-decoration: none;
}

nav .menu-btn,.menu-icon{
    display:none;
}

@media(max-width:1100px){.menu-icon{
    display:block;}
        nav{
            justify-content: space-between;
            height: 65px;
            padding: 0px 30px;
        }
        .menu{
            display:none;
            position:absolute;
            top:65px;
            left:0px;
            background-color:#000000;
            border-bottom:4px solid green;
            width:100%;
            padding:0px;
            margin:0px;
        }
        .menu li{
            width:100%;
        }
        nav .menu li a{
            width:100%;
            height:40px;
            justify-content: center;
            align-items: center;
            margin:0px;
            padding: 25px;
            border:1px solid rgba(0,128,0,0.03);
        }
        nav .menu-icon{
            cursor:pointer;
            float:right;
            padding:28px 20px;
            position:relative;
            user-select: none;
        }
        nav .menu-icon .nav-icon{
            background-color:#ffffff;
            display:block;
            height:2px;
            position:relative;
            transition: background 0.2s ease-out;
            width:18px;
        }
        nav .menu-icon .nav-icon:before,
        nav .menu-icon .nav-icon:after{
            background:rgb(255, 255, 255);
            content:'';
            display:block;
            height:100%;
            position:absolute;
            transition:all ease-out 0.2s;
            width:100%;
        }
        nav .menu-icon .nav-icon:before{
            top:5px;
        }
        nav .menu-icon .nav-icon:after{
            top:-5px;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon{
            background:transparent;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
            transform: rotate(-45deg);
            top:0;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
            transform: rotate(45deg);
            top:0;
        }
        nav .menu-btn{
            display:none;
        }
        nav .menu-btn:checked ~ .menu{
            display:block;
        }
}

.my-float{
    margin-top:16px;
}

#slider {
	margin-top: 30px;
}

.carouselExampleIndicators{
	padding: 1rem;
}
.carousel-item img{
	max-width: 100%;
}

#about{
	margin-top: 50px;
}

#about .Heading{
	
	text-align: center;
}

#about img{
	margin-top: 35px;
	max-width: 100%; 
	height: auto;
}
.about-me{
	font-weight: 600;
}

#importance-of-qurbani {
	padding: 1rem;
}

#importance-of-qurbani h1{
	text-align: center;
}


#importance-of-qurbani h1,p,ul{
	margin-top: 30px;
}

.responsive-img
{
max-width : 100%;
height : auto;
}

.image-gallery{
	padding: 80px 0;
}

.image-gallery img{
	max-width: 100%;
	padding: 15px;
	width: 100%;
	background-color: #ffffff;	
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.img-responsive{
	width: 350px;
	height: auto;
	margin-top: 10px;
	padding-left: 1rem;

} 	

.gallery{
	border: 1px solid #ccc;
}

.gallery iframe{
	max-width: 100%;
	width: 100%;
	height: auto;
	padding: 15px;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;
}

.responsive{
	padding: 0 6px;
	float : left;
	width : 25%;
}

#contact-us .contact-page{
  width: 100%;
  max-width: 1400px;
  padding: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

#contact-us h2{
  width: 100%;
  margin-bottom: 80px;
  text-transform: uppercase;
  color: #000;
  font-size: 60px;
}

#contact-us .contact-info, .contact-form{
  flex: 1;
}

#contact-us .item{
  margin-bottom: 24px;
  font-size: 16px;
  color: #000;
}

#contact-us .icon{
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: green;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  margin-right: 16px;
}

#contact-us .contact-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#contact-us .textb{
  width: calc(50% - 10px);
  height: 50px;
  padding: 12px;
  background-color: #222;
  border: none;
  color: #fff;
  margin-bottom: 20px;
}

#contact-us textarea{
  width: 100%;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  padding: 12px;
  background-color: #222;
  border: none;
  color: #fff;
  margin-bottom: 20px;
}

#contact-us .btn{
  width: 120px;
  height: 40px;
  margin-left: auto;
  background-color: #3494db;
  border: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #3494db;
  transition: .3s linear;
}

#contact-us .btn:hover{
  background-color: transparent;
  color: #3494db;
}

@media (max-width : 400px){

@media screen and (max-width: 980px){
 #contact-us .contact-page{
    max-width: 800px;
  }
 #contact-us h2{
    font-size: 40px;
    margin-bottom: 40px;
  }

#contact-us .contact-info, .contact-form{
    flex: 100%;
    margin-bottom: 30px;
  }
#contact-us  .textb{
    width: 100%;
  }
}


@media only screen and (max-width : 600px){
	#slider{
		margin-top: 30px;
	}
	
	#about{
		flex: 100%;
		display: flex;
		flex-direction: column;
	}

	}
	#about .Heading{
		font-size: 20px;
		text-align: center;
		font-weight: 600;
	}

#be-naziramal{
	margin-top: 20px;
	padding: 1rem;
}

#be-naziramal img{
	margin-top: 20px;
}
#importance-of-qurbani h1{
		font-size: 25px;
		text-align: center;
		font-weight: 600;
	}

#importance-of-qurbani ul{
		margin-left: 30px;
	}


	#sticky-footer{
		min-width: 600px;
		width:  33%;
		float: left;
		display:block;
    color:black; 
    padding:0px;
    margin: 0px;
	} 
}


@media only screen and (max-width : 700px){
	.about-img img{
		width : 50%;
		margin : 6px 0;
	}

	.responsive{
		width : 50%;
		margin : 6px 0;
	}
	.img-responsive{
		width : 50%;
		margin : 6px 0;
	}
}

@media only screen and (max-width : 500px){
	.about-img img{
		width : 100%;
	}

	.responsive{
		width : 100%;
	}
	.img-responsive{
		width : 100%;
	}
}
